alias ls='ls -G'
alias la='ls -alrth'
alias md='mkdir'
alias k='clear'
alias vi='vim'
alias myTree='find . -print | sed -e "s;[^/]*/;|____;g;s;____|; |;g"'

if [ -z $INSIDE_EMACS ]; then 
	alias lk='clear && ls -lrth'
	alias cdd='cd ..'
else
	alias lk='ls -lrth'
fi
alias kc='kubectl'